<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303220029002-lqfdstm8g3pl66iid4ms2a9glertisnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303220029002-lqfdstm8g3pl66iid4ms2a9glertisnr</string>
	<key>API_KEY</key>
	<string>AIzaSyAUj4TDmXAFB7_7TCpAe7mKDwSda7VidgE</string>
	<key>GCM_SENDER_ID</key>
	<string>303220029002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.rickandmorty</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-26a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-26a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303220029002:ios:765597d22dcb34481818b3</string>
	<key>DATABASE_URL</key>
	<string>https://rickandmorty-26a3b-default-rtdb.firebaseio.com</string>
</dict>
</plist>